@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.home {


    &__dj-image {
        width: 100%;
        height: 18rem;
    }

    &__exclusive-drops-container {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-top: 3rem;
    }

    &__exclusive-drops-header-container {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
    }

    &__exclusive-drops-cards {
        display: flex;
        padding-top: 1rem;
    }


    &__live-auctions-container {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-top: 3rem;
    }

    &__live-auctions-header-container {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
    }

    &__live-auctions-cards {
        display: flex;
        padding-top: 1rem;
    }


    &__top-songs-header {
        padding: 4rem 0 1rem 2rem;
    }

    &__top-songs {
        display: flex;
        flex-direction: column;
    }

    &__top-song {
        display: flex;
        justify-content: space-between;
        border-top: solid 1px $color-app-lightgrey;
        border-bottom: solid 1px $color-app-lightgrey;
        padding: 1rem 2rem;
    }

    &__song {
        display: flex;
        align-items: center;
    }

    &__song-image {
        height: 3rem;
        width: 3rem;
        border-radius: 10px;
        object-fit: cover;
    }

    &__song-name {
        padding-left: 1rem;
    }

    &__current-bid {
        display: flex;
    }

    &__bid-amount {
        padding-left: 0.5rem;
        color: $color-app-slate;
    }

    &__bids-bought {
        color: $color-app-slate;
    }




}