@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.explore {
    background-color: $color-app-lightgrey;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__header{
        margin-top: 5rem;
        padding: 1rem;
    }

    &__subheader {
        padding: 1rem 3rem;
    }

    &__search {
        padding: 1rem;

        &-box{
            padding: 0 1rem;
            height: 3rem;
            width: 100%;
            border-radius: 4px;
            border: 1px solid $color-app-lightgrey;
            margin-bottom: 1rem;
          
            &::placeholder {
              background-image: url("../../assets/icons/search.svg");
              background-repeat: no-repeat;
              background-position: left;
              background-size: 1rem;
              padding-left: 2rem;
            }
        }
    }

    &__recommendations {
        display: flex;
        padding: 1rem;

        &__card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;
        }

        &--image {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            background-size: cover;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);            
        }

        &--title {
            margin-top: 0.5rem;
        }
    }

    &__genres {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;

        &--card {
            width: 40%;
            height: 8rem;
            background-size: cover;
            color: #FFFFFF;
            padding: 1rem;
            margin: 1rem;
            display: flex;
            align-items: center;
            border-radius: 4px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            &favourites {
                background-image: url(../../assets/images/Explore/chill.png);
            }

            &--favourites {
                background-image: url(../../assets/images/Explore/chill.png);
            }

        }
    }

}

.favourites {
    background-image: url(../../assets/images/Explore/classical.png);
}

.rb {
    background-image: url(../../assets/images/Explore/r_b.png);
}

.hiphop{
    background-image: url(../../assets/images/Explore/malibu.png);
}

.country {
    background-image: url(../../assets/images/Explore/country.png);
}

.folk {
    background-image: url(../../assets/images/Explore/folk_acoustic.png);
}

.chill {
    background-image: url(../../assets/images/Explore/chill.png);
}

.scott {
    background-image: url(../../assets/images/Artist/thescotts.png);
}

.cory {
    background-image: url(../../assets/images/Artist/pink_clouds.png);
}

.ashley {
    background-image: url(../../assets/images/Explore/ashley.png);
}

TEST