//breakpoints
$breakpoint-large-phone: 450px;
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1280px;

//colors
$color-app-lightgrey:#F6F6F6;
$color-app-lightyellow: #FEF785;
$color-app-bluegrey: #7289B1;
$color-app-slate: #465267;

$color-text-grey: #6F6F6F;
$color-text-black: #292929;

$color-highlight-salmon: #FF6666;
$color-highlight-blue: #5B8FDC;

$color-logo-1: #FEF785;
$color-logo-2: #FBB337;
$color-logo-3: #DC951D;
$color-logo-4: #FFCA43;